@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.countdown {
  @include m.section(0 30px);

  &__wrap {
    position: relative;
    z-index: 3;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #250a0827;
    backdrop-filter: blur(3px);
  }
}
