@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.countDown {
  @include m.section(10px 30px);

  &__wrap {
    position: relative;
    z-index: 1;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #250a0827;
    backdrop-filter: blur(3px);
  }

  &__fragment {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__value {
    @include m.text-big;
    &--num {
      font-weight: 600;
    }
  }
}
