@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.inProgress {
  @include m.section;
  min-height: 400px;
  position: relative;

  &__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    @include m.text-big;
    max-width: 60%;
  }
}

.flowers--inProgress {
  width: 400px;
  height: 671px;
  background-image: url('./images/flowers-inProgress.png');
  bottom: -240px;
  left: 60%;
}
