@font-face {
  font-family: 'Monoluxe';
  src: url('/fonts/Monoluxe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Colors
$primary-color: #554239;

//Font
$primary-font: 'Monoluxe', 'Quicksand', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

//Others