@use './styles/variables' as v;
@use './styles/mixins' as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #b39b7d47;

  .app {
    max-width: 2280px;
    overflow: hidden;
    min-height: 100vh;
    background-color: #fff;
    margin: 0 auto;

    .flowers {
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .icone {
      width: 125px;
      height: auto;
      color: v.$primary-color;
    }

    h2 {
      @include m.h2;
      margin-bottom: 30px;
    }
  }
}
